services:
  robot-tests:
    build: .
    volumes:
      - ./reports:/app/reports
      - ./screenshots:/app/screenshots
    environment:
      - DISPLAY=:99
      - CHROME_BIN=/usr/bin/google-chrome
      - CHROMEDRIVER_PATH=/usr/local/bin/chromedriver
    command: >
      sh -c "Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
             robot -d reports test_suites/features/autenticacion/autenticacion_suite.robot test_suites/features/administracion/ test_suites/features/regulaciones/ test_suites/features/social/"
    profiles:
      - local

  robot-tests-ci:
    build: .
    volumes:
      - ./reports:/app/reports
    environment:
      - DISPLAY=:99
      - CHROME_BIN=/usr/bin/google-chrome
      - CHROMEDRIVER_PATH=/usr/local/bin/chromedriver
    command: >
      sh -c "Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
             robot -d reports test_suites/features/autenticacion/autenticacion_suite.robot test_suites/features/administracion/ test_suites/features/regulaciones/ test_suites/features/social/"
    profiles:
      - ci 