name: Robot Framework Tests

on:
  push:
    branches:
      - main
      - pruebas-funcionales
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install robotframework robotframework-seleniumlibrary selenium
        pip install robotframework-pabot
        sudo apt-get update
        # Instala Google Chrome
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
        # Instala ChromeDriver
        sudo apt-get install -y chromium-chromedriver || sudo apt-get install -y chromedriver
        sudo ln -sf /usr/lib/chromium-browser/chromedriver /usr/bin/chromedriver || true

    - name: Run Robot Framework tests
      run: |
        robot --variable BROWSER:chrome --outputdir reports test_suites/features/

    - name: Upload Robot Framework reports
      uses: actions/upload-artifact@v4
      with:
        name: robot-reports
        path: reports/ 